.appBar {
  background-color: #fff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  width: 100%;
  z-index: 100;
  position: sticky !important;
  top: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.navMenuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  & > li {
    margin: 0 1rem;
    cursor: pointer;
    & > a {
      font: 600 1.2rem var(--font-family);
      color: #232d3c;
      text-decoration: none;
    }
  }
}

.loginBtn {
  float: right;
  background-color: #633ed8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font: 500 1rem Manrope, sans-serif;
  cursor: pointer;
}

.navMenuListMobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > li {
    margin: 0.5rem 0;
    cursor: pointer;
    &:hover{
      border-bottom: 1px solid var(--background-color);
    }
    & > a {
      font: 600 1.2rem var(--font-family);
      color: #232d3c;
      text-decoration: none;
    }
  }
}